*{
    font-family: 'Poppins', sans-serif;
    margin:0px;;
}
span {
    color:#E54583 ;
}
button{
    background-color: #E54583;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    border: none;
}
/* -------Header------- */
header{
    background-image: linear-gradient(#FCE1EA ,#FCE1EA);
}
    .logo-memu{
        width: 90%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
/* -------logo----- */
.logo{
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.logo img{
    width: 50px;
}

/* ----- Menu-bar------- */
.menu-bar ul li{
    display: inline-block;
    list-style: none;
}
.menu-bar ul li a{
    text-decoration: none;
    padding: 10px 10px;
    color: #E54583;
}
.menu-bar ul li a:hover{
    color: #ffff;
    background-color: #E54583;
    border-radius: 10px;
    transition: 0.6s;
}
/* --------Banner--------- */
.banner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-areya{
    margin-left: 290px;
}
.title-areya h2{
    font-weight: 500;
}
.title-areya p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.664);
}

.title-areya button:hover{
    color: #fff;
    background-color: #f8689f;
    transition: 0.6s;
}

section.product {
    width: 70%;
    margin: auto;
}

.product-itme {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.item {
    width: 300px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
}
.item h3{
    font-size: 18px;
    font-weight: 500;
    color: #f8689f;
}
.item:hover{
    background-color: #FCE1EA;
    color: rgb(10, 10, 10);
    border-radius: 10px;
    transition: 0.6s;
}
.item button:hover{
    background-color: #E54583 ;
    color: #dbdbdb;
}

.item img{
    width: 150px;
}
.customers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}